<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hhs</string>
			</array>
            <!--
			<key>CFBundleTypeIconFile</key>
			<string>aria_file.icns</string> -->
			<key>CFBundleTypeName</key>
			<string>HyperHaskell worksheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
  <key>NSHumanReadableCopyright</key>
  <string>— The strongly hyped Haskell interpreter —</string>
</dict>
</plist>
