/* *************************************************************
    General layout
************************************************************* */
h1 {
  margin-left: 1em;
  margin-top: 2ex;
}
.section {
  position:relative;
  margin-left: 2em;
  margin-right: 1em;
}

h1.closed:before { content: "▸ "; }
h1:before { content: "▾ "; }

h1 {
  font-size:110%;
  font-weight:bold;
}

label {
  display: inline-block;
  width:10em;
}
input {
  width:20em;
}

/* *************************************************************
    General editing
************************************************************* */
div.CodeMirror {
  height: auto;
  background: #eee;
  padding: 0.7ex;
  line-height: 1.3;
}

pre, div.CodeMirror {
  font-family: "Fira Code";
  font-size: 95%;
}

.ql-container {
  font-family: "Helvetica";
  font-size: 100%;
  min-height: 2em;
}

/* *************************************************************
    Text and Evaluation Cells
************************************************************* */
.cell .out {
  display:none;
  margin-top: 1ex;
  padding: 0.7ex;
}

.cell {
  margin-bottom: 2ex;
}
.cell.eval {
  padding: 1ex 1ex 1ex;
}
/* Color coding for focus and evaluation */
.cell                  { border-left: 4px solid #ddd; }
.cell.focus            { border-left-color: black; }
.cell.evaluating       { border-left-color: #f9f; }
.cell.evaluating.focus { border-left-color: #c0c; }
.cell .error {
  color:red;
}
